@model IEnumerable<Everything.Models.Entities.producto>

@{
    ViewBag.Title = "listar";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnNuevo').click(function () {
            $('.modal-title').text('Agregar producto');
            $('.modal-body').load("/Producto/crear");
        });

        $('.btnEditar').click(function (e) {
            $('.modal-title').text('Editar producto');
            $('.modal-body').load("/Producto/editar/" + $(this).attr("data-id"));
        });
    });
</script>

<div id="modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                @*contenido del modal*@
            </div>
        </div>
    </div>
</div>

<h2>Productos</h2>

<p>
    <a href="#modal" id="btnNuevo" class="btn btn-success" data-toggle="modal">Nuevo Producto</a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.etiquetas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.etiquetas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                <a href="#modal" class="btn btn-default btn-sm btnEditar" data-toggle="modal" data-id="@item.id">Editar</a>
            </td>
        </tr>
    }

</table>
